@model Turniej.Models.Trenerzy

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trenerzy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTrenera" />
            <div class="form-group">
                <label asp-for="ImieT" class="control-label"></label>
                <input asp-for="ImieT" class="form-control" />
                <span asp-validation-for="ImieT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazwiskoT" class="control-label"></label>
                <input asp-for="NazwiskoT" class="form-control" />
                <span asp-validation-for="NazwiskoT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IleMedaliT" class="control-label"></label>
                <input asp-for="IleMedaliT" class="form-control" />
                <span asp-validation-for="IleMedaliT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
