@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Aplikacja CRUD bazy Turniej</h1>
    <h2>Wybierz tabelę, z której chcesz pobrać, utworzyć lub edytować dane.</h2>
    
    
</div>
<img class="sportimg" alt="Sport" src="~/sport.png" />