@{
    ViewData["Title"] = "Polityka";
}
<h1>@ViewData["Title"]</h1>

<p>Projekt utworzony na potrzeby zaliczenia przedmiotu w Wyższej Szkole Ekonomii i Informatyki w Krakowie.</p>
<p>Created by &copy; Patryk Wiecheć 13355</p>
