@model Turniej.Models.Uczestnictwo

@{
    ViewData["Title"] = "Szczegóły";
}
<script src="~/script.js"></script>
<h1>Details</h1>

<div>
    <h4>Uczestnictwo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdZawodnikaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdZawodnikaNavigation.IdZawodnika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdZawodowNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdZawodowNavigation.IdZawodow)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUczestnictwa">Edytuj</a> |
    <a asp-action="Index">Wróć</a>
</div>

<img class="sportimg" alt="Sport" src="~/sport.png" />
