@{
    ViewData["Title"] = "Home Page";
}

<style>
    .text-center img
    {
        width: 20%;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to MidComp Database</h1>
    <p>Please, log into your account to get access to the database.</p>
    <p>Work at progress</p>
    <img src="@Url.Content("~/Content/Images/computer.gif")" alt="Working computer" />
</div>
