@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The application is created for a project for the course Back-end Application Programming conducted at WSEI.</p>
<p>All rights in accordance with university policy.</p>
<p>Project creator: Patryk Wiecheć 13355</p>